// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------



body{
    //opacity: 0;
    transition: opacity 0.6s ease;

    &.page-ready {
        //transition-delay: 0.6s;
        opacity: 1;

        &.fade-out {
            opacity: 0;
        }
    }

    &.fade-out {
        opacity: 0;
    }
}


body,
input,
button,
select,
textarea {
    font-family: $main-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}


a {
    color: inherit;
    text-decoration: none;
    transition: all $transition;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

.a {
    transition: color $transition;

    &:hover {
        color: $yellow;
    }
}

a[href^="tel:"] {

    &:hover {
        cursor: default;
    }
}

[data-scroll-to],
[data-click-target] {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

picture > * {
    width: 100%;
    height: auto;
}

hr {
    border: none;
    border-top: 1px solid $gray-900;
    margin: 0;
}

@mixin selection {
    color: $white;
    background: $purple-500;
}

::selection {
    @include selection;
}
::-moz-selection {
    @include selection;
}
