// ---------------------------------------------------------------------
//  Typography Styles
// ---------------------------------------------------------------------

// ----------------------------------------
// Headings
// ----------------------------------------

.h1,
.user-content h1 {
  display: block;
  font-family: $sans-serif !important;
  font-size: 48px !important;
  line-height: 1.12;
  font-weight: 600 !important;
  letter-spacing: 0;
  margin-bottom: 16px;

  @include start-at($medium) {
    font-size: 60px !important;
  }
}


@mixin h2 {
  display: block;
  font-family: $sans-serif !important;
  font-size: 28px !important;
  line-height: 1.36;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 24px;

  @include start-at($medium) {
    font-size: 36px !important;
  }
}

.h2,
.user-content h2 {
    @include h2;
}

@mixin h3 {
  display: block;
  font-family: $sans-serif !important;
  font-size: 18px !important;
  line-height: 1.36;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 16px;

  @include start-at($medium) {
    font-size: 24px !important;
  }
}

.h3,
.user-content h3 {
    @include h3;
}


@mixin h4 {
  display: block;
  font-family: $mono !important;
  font-size: 16px !important;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;

  @include start-at($medium) {
    font-size: 18px !important;
  }
}

.h4,
.user-content h4,
.h4-alt {
    @include h4;
}

.h4-alt  {
    font-size: 16px !important;

    @include start-at($medium) {
        font-size: 20px !important;
    }
}


@mixin h5 {
  display: block;
  font-family: $sans-serif !important;
  font-size: 14px !important;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0;

  @include start-at($medium) {
    font-size: 16px !important;
  }
}

.h5,
.user-content h5 {
    @include h5;
}


@mixin h6 {
  display: block;
  font-family: $sans-serif !important;
  font-size: 12px !important;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0;

  @include start-at($medium) {
    font-size: 14px !important;
  }
}

.h6,
.user-content h6 {
    @include h6;
}


// ----------------------------------------
// Paragraph Styles
// ----------------------------------------

@mixin para {
  display: block;
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 18px;
  font-weight: 400;

  + .button {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.p,
p,
.user-content p {
  @include para;
  a {
    color: $brand;
  }
}

.p-sm,
small,
.user-content .p-sm {
    @include para;
    font-size: 14px;
    color: $gray-400;
}



@mixin p-lg {
    display: block;
    font-family: $mono;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-bottom: 24px;

    @include start-at($medium) {
        font-size: 18px;
    }

    // @include start-at($large) {
    //     font-size: 20px;
    // }
}

.p-lg,
.user-content p.p-lg {
    @include p-lg;
}




// ----------------------------------------
// Misc
// ----------------------------------------

.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}

.text-bold {
  font-weight: 600 !important;
}

.text-soft {
  color: $gray-light;
}

.text-brand {
  color: $brand;
}

.font-ss {
  font-family: $sans-serif !important;
}


.rte {

  ul {
    list-style-type: disc;
    padding-left: 36px;
    color: $gray-dark;
    margin: 16px 0;

    li {
      line-height: 1.6;
    }

    + p {
      margin-top: 36px;
    }
  }
}
