<footer class="site-footer">
  <div class="container">
    <small>© 2020 <a href="https://dotnetfoundation.org/" target="_blank" rel="nofollow noreferrer">.NET Foundation</a>. <a href="https://dotnetfoundation.org/about/privacy-policy" target="_blank" rel="nofollow noreferrer">Privacy Policy</a> | <a href="{{ '/terms/' | relative_url }}">Terms of use</a> | <a href="https://dotnetfoundation.org/about/code-of-conduct" target="_blank" rel="nofollow noreferrer">Code of Conduct</a></small>
  </div>
</footer>
