// ---------------------------------------------------------------------
//  Animate In
// ---------------------------------------------------------------------

*[data-animate-in="up"] {
	opacity: 0;
	transform: translate3d(0, 24px, 0);
	transition: opacity 0.4s ease-in-out, transform 0.4s ease;

	&.in-view {
		opacity: 1;
		transform: none;
	}
}


*[data-animate-in="fade"] {
	opacity: 0;
	transition: opacity 0.4s ease-in;

	&.in-view {
		opacity: 1;
	}
}

*[data-animate-in="fade-slow"] {
	opacity: 0;
	transition: opacity 1s ease-in;

	&.in-view {
		opacity: 1;
	}
}


@media screen and (prefers-reduced-motion: reduce) {
	[data-animate-in="up"] {
		opacity: 0;
		transform: translate3d(0, 10px, 0);
		transition: opacity 1s ease-in, transform 0.6s ease;
	}
}

@media screen and (prefers-reduced-motion) {
	[data-animate-in="up"] {
		opacity: 0;
		transform: translate3d(0, 10px, 0);
		transition: opacity 1s ease-in, transform 0.6s ease;
	}
}
