// ---------------------------------------------------------------------
// Base Generator styles here
// ---------------------------------------------------------------------


#generator {
  width: 100%;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 0 0;
  transition: opacity $trans;

  @include start-at($bot-bp) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4%;
    height: calc(100vh - 120px);
  }
}

body {
  #generator {
    opacity: 0;
  }

  &.page-loaded {
    #generator {
      transition-delay: 0.4s;
      opacity: 1;
    }

    .loader {
      transition-delay: 0.4s;
      opacity: 0;
    }
  }
}

// ----------------------------------------
//
// ----------------------------------------


#bot {
  width: 94%;
  margin: 0 auto 24px;

  @include start-at($bot-bp) {
    display: block;
    width: auto;
    height: calc(100% - 220px);
    max-width: 100%;
    position: absolute;
    top: 40px;
    left: 50%;
    margin: 0 0 0 72px;
    transform: translate3d(-50%, 0, 0);
  }

  &.hide-antenna {

    #antenna-holder {
      display: none;
      opacity: 0 !important;
      width: 0 !important;
      height: 0 !important;
    }
  }
}


.controls {
  position: absolute;
  z-index: 5;
  right: 12px;
  top: 40%;
  transform: translate3d(0, -70%, 0);

  @include start-at($small) {
    right: 24px;
  }

  @include start-at($large) {
    right: 0;
    //transform: translate3d(0, -100%, 0);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  margin: 12px 0;

  &[disabled] {
    opacity: 0.9;
    pointer-events: none;

    img,
    svg {
      opacity: 0.5;
    }
  }

  &:hover {
    cursor: pointer;
    background: lighten($gray-light, 3%);
  }

  svg {
    height: 20px;
  }
}



@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-539deg);
  }
}

.loader {
  pointer-events: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  transform-origin: center;
  z-index: 4;
  animation: rotation 2s 5 ease-in-out;
  opacity: 1;
  transition:opacity 0.3s ease-in-out;

  svg {
    fill: $brand;
    width: 36px;
    height: 36px;
  }
}
